<div class="jumbotron" margin-top: 10px;>
    @{
        ViewBag.Title = "About - Psypher Computing";
    }
    <h2>@ViewBag.Title</h2>
    <h3>Trustworthy<br />Low Cost<br />Certified<br />Degreed<br />Experienced</h3>
   
</div>
<hr />
<div class="row" style="align-content:center; width:400px;margin-left:380px">
    <div class="col-md-12">
        <div class="gallery">
            <div class='img-thumbnail'>

                <div class="picture">
                    <div class="front">
                        <A HREF="~/Content/Images/MyPicture.jpg" target="_blank">
                            <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/MyPicture.jpg">
                        </A>
                    </div>
                </div>
            </div>
        </div>
        <address>
            <strong>
                Cabot, AR<br />
                <abbr title="Phone">P:</abbr>
                501.764.8996
            </strong>
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:psyphercomputing@gmail.com">psyphercomputing@gmail.com</a><br />
            <strong>Facebook:</strong>   <a href="http://facebook.com/psyphercomputing">Psypher Computing</a><br />
        </address>
    </div>
</div>
<hr/>
    <div class="row">
        <div style="text-align:center">
            <p>
                <strong style="font-size:large">
                    <br /> Hi! My name is Timothy. I want to personally thank everyone who visits my page and/or utilizes my services.<br /> I currently have 11 Dell Certifications,
                    a CompTIA A+ certification, and an AAS:Computer Systems Networking Technology.<br /> My day job consists of working in the remote support section of one
                    of our Arkansas state agencies.<br /> Which also means I have passed a background check. <br /><br />I offer my services with high integrity, just as if I was at work.<br />
                    I do my best to keep my prices low and most often "at cost" pricing.<br /> I charge labor based on the job for the everyday individual, <br />and often by the hour for businesses.
                    Your privacy and security come before anything else.
                </strong>
            </p>
            <p><a href="https://sway.com/dMG0BUziutMjdQ5c?ref=Link" class="btn btn-primary btn-lg" target="_blank">Sway Presentation &raquo;</a></p>
        </div>
    </div>
