<div class="jumbotron" margin-top: 10px;>
    @{
        ViewBag.Title = "Contact Tim";
    }
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message<br /> Business Hours:<br /> Mon - Fri 5:30 p.m. to 8 p.m.<br />Weekends 8 a.m. to 8 p.m.<br />  By Appointment<br /></h3>
</div>

<hr/>
<section class="row ">
    <div class="col-md-4">
        <div class="gallery">
            <div class='img-thumbnail'>

                <div class="picture">
                    <div class="front">
                        <A href="http://facebook.com/psyphercomputing/shop" target="_blank">
                            <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/2000px-F_icon_svg.png">
                        </A>
                    </div>
                </div>
            </div>

            <h2>Facebook Shop</h2>
            <p><a class="btn btn-default" href="http://facebook.com/psyphercomputing/shop" target="_blank">Shop Now &raquo;</a></p>
            <p style="font-size:large">Shop now with secure transactions! Catalog Purchasing available by phone or scheduled appointment!, Customized Billing as needed, and "In Stock" items as they become available.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="gallery">
            <div class='img-thumbnail'>

                <div class="picture">
                    <div class="front">
                        <A href="tel:15017648996" target="_blank">
                            <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/Call-Now-Button4.jpg">
                        </A>
                    </div>
                </div>
            </div>

            <h2>Call Now</h2>
            <p><a class="btn btn-default" href="tel:15017648996" target="_blank">Call Now &raquo;</a></p>
            <p style="font-size:large">Feel Free to Call! I will return your call as soon as humanly possible if I do not answer.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="gallery">
            <div class='img-thumbnail'>

                <div class="picture">
                    <div class="front">
                       <A href="mailto:psyphercomputing@gmail.com" target="_blank">
                        <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/GmailLogo.jpg">
                        </A>
                    </div>
                </div>
            </div>

            <h2>Send Email</h2>
            <p><a class="btn btn-default" href="mailto:psyphercomputing@gmail.com" target="_blank">Email Now &raquo;</a></p>
            <p style="font-size:large">Feel Free to Email me anytime! I will return your Email as soon as humanly possible.</p>
        </div>
    </div>
</section>