<div class="jumbotron" margin-top: 10px;>
    @{
        ViewBag.Title = "Psypher Computing - Gallery";
    }
    <h2>@ViewBag.Title</h2>
    <h3>Gallery of Some<br />PC/Laptop Repairs,<br />Completed Work,<br />and Customizations<br /><br /></h3>
</div>
<div>
    <div class="row">
        <div class="gallery">

            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img '>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/Custom.jpg" alt="#" />
                            <span class='caption'>CUSTOM PC</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img'>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/Custom2.jpg" alt="#" />
                            <span class='caption'>CUSTOM PC</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img '>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/Screens.jpg" alt="#" />
                            <span class='caption'>SCREEN REPLACEMENT</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img '>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/LaptopRepair.jpg" alt="#" />
                            <span class='caption'>LAPTOP UPGRADE</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <div class="row">
        <div class="gallery">

            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img '>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/Slim.jpg" alt="#" />
                            <span class='caption'>CUSTOM SLIM PC</span>
                           
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img'>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/WApoints.jpg" alt="#" />
                            <span class='caption'>WIRELESS AP</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img '>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/Serverand network.jpg" alt="#" />
                            <span class='caption'>SERVER AND NETWORKING</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img '>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/ServerAndNetwork.jpg" alt="#" />
                            <span class='caption'>SERVER AND NETWORKING</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <div class="row">
        <div class="gallery">

            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img '>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/Website.jpg" alt="#" />
                            <span class='caption'>WEB DESIGN VIEW</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img'>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/Website2.jpg" alt="#" />
                            <span class='caption'>WEB DESIGN VIEW</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img '>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/Website3.jpg" alt="#" />
                            <span class='caption'>WEB DESIGN CODE</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
            <div class="gallery col-md-3">
                <!-- picture 1 -->
                <div class='img '>

                    <div class="picture">
                        <div class="front">
                            <img HEIGHT=245 WIDTH=245 src="~/Content/Images/Wires.jpg" alt="#" />
                            <span class='caption'>WIRE MANAGEMENT</span>
                            
                        </div><!-- .front -->

                        <div class="back">
                            <p class="pic_title">
                                <strong> Title </strong>

                                <span class='text-right'>
                                    - By <a href="" target="_blank">Link</a>
                                </span>
                            </p><!-- .pic_title -->

                            <br><br>
                            <p class='pic_source'>
                                <small>
                                    Photos Credits: photo courtesy of <a href="" target="_blank">Link</a>
                                </small>
                            </p><!-- .pic_source -->
                        </div><!-- .back -->
                    </div><!-- picture -->
                </div><!-- img -->
            </div>
        </div>
    </div>
</div>

