@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Psypher Computing</h1>
    <p class="lead">PC Repair, Custom Builds<br />and Web Design<br /> How can I help you today?</p>

</div>
<div class="row">
    <div class="gallery col-md-4">
        <!-- picture 1 -->
        <div class='img-thumbnail'>

            <div class="picture">
                <div class="front">
                    <A href="https://teamviewer.com" target="_blank">
                        <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/RemoteSupport.jpg">
                    </A>
                </div>
            </div>
        </div>
        <h2>Remote Support</h2>

        <p><a class="btn btn-default" href="https://teamviewer.com" target="_blank">Download Now &raquo;</a></p>
        <p style="font-size:large">
            Just what is remote support? Remote support is screen sharing between two or more people over the internet, this allows meetings for multiple people to view and manipulate one computer screen. One example of this is TeamViewer, This is free for personal use and has a premium for business. Download now if you need support and give me a call.
        </p>

    </div>

    <div class="gallery col-md-4">
        <!-- picture 1 -->
        <div class='img-thumbnail'>

            <div class="picture">
                <div class="front">
                    <A href="https://www.google.com/search?q=custom+computer+images&rlz=1C1GCEA_enUS758US759&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjXjbXH4afWAhUD7YMKHTJ4CKkQ_AUICigB&biw=1190&bih=578&dpr=1.25" target="_blank">
                        <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/CustomePC.png">
                    </A>
                </div>
            </div>
        </div>
        <h2>PC Customization</h2>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=custom+computer+images&rlz=1C1GCEA_enUS758US759&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjXjbXH4afWAhUD7YMKHTJ4CKkQ_AUICigB&biw=1190&bih=578&dpr=1.25" target="_blank">View Examples &raquo;</a></p>
        <p style="font-size:large">What is PC customization? This is modifying or building a PC from scratch for better performance, or a specific purpose, and even just to make it look awesome. Call me! I would be glad to help and order what you need. </p>

    </div>
    <div class="gallery col-md-4">
        <!-- picture 1 -->
        <div class='img-thumbnail'>

            <div class="picture">
                <div class="front">
                    <A href="https://www.facebook.com/pg/Psyphercomputing/services/?service_id=1310277162369186" target="_blank">
                        <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/Capture.JPG">
                    </A>
                </div>
            </div>
        </div>

        <h2>Web Design</h2>
        <p><a class="btn btn-default" href="https://www.facebook.com/pg/Psyphercomputing/services/?service_id=1310277162369186" target="_blank">More Info &raquo;</a></p>
        <p style="font-size:large">What is web design? It is the creation of a website used generally for some type of business, or blog, even social media. This very website was scripted myself for my business. Call me! I would be glad to help. </p>

    </div>
</div>
<div>
    <hr />
</div>
<div class="row">
    <div class="gallery col-md-4">
        <!-- picture 1 -->
        <div class='img-thumbnail'>

            <div class="picture">
                <div class="front">
                    <A href="https://www.facebook.com/pg/Psyphercomputing/services/?service_id=1093454757432490" target="_blank">
                        <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/12385107_961816873934785_1638247517_n.jpg">
                    </A>
                </div>
            </div>
        </div>
        <h2>PC Repair & Virus</h2>


        <p><a class="btn btn-default" href="https://www.facebook.com/pg/Psyphercomputing/services/?service_id=1093454757432490" target="_blank">More Info &raquo;</a></p>
        <p style="font-size:large">
            What types of PC repair are there? Just to name a few, Hardware: replacing parts insde the tower that no longer function or a laptop screen. Virus/Malware: Attempting to remove virus' and malware that slow or stop the computer all together along with other nasty things. Cleaning: This is important! did you know a dirty computer is one of the leading causes of hardware failure? A certified technician knows how to do this properly, without getting shocked or damage the PC. Call me! I would be glad to help.
        </p>

    </div>
    <div class="gallery col-md-4">
        <!-- picture 1 -->
        <div class='img-thumbnail'>

            <div class="picture">
                <div class="front">
                    <A href="https://www.facebook.com/pg/Psyphercomputing/services/?service_id=1890124701002799" target="_blank">
                        <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/21271803_1288783454583781_6893569994961977344_n.jpg">
                    </A>
                </div>
            </div>
        </div>
        <h2>Network services</h2>
        <p><a class="btn btn-default" href="https://www.facebook.com/pg/Psyphercomputing/services/?service_id=1890124701002799" target="_blank">More Info &raquo;</a></p>
        <p style="font-size:large">What are network services? Setting up or repairing cables, connections to routers, hubs, switches, and configuring software for safety and security. This is your Wifi, media centers/closets, and even home automation. Should you need help, whether a business or homeowner, call me! I would be glad to help.   </p>

    </div>
    <div class="gallery col-md-4">
        <!-- picture 1 -->
        <div class='img-thumbnail'>

            <div class="picture">
                <div class="front">
                    <A href="https://www.facebook.com/pg/Psyphercomputing/services/?service_id=1262903810411824" target="_blank">
                        <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/13720875_1051795814917329_709504191_n.jpg">
                    </A>
                </div>
            </div>
        </div>

        <h2>OnSite Visits</h2>
        <p><a class="btn btn-default" href="https://www.facebook.com/pg/Psyphercomputing/services/?service_id=1262903810411824" target="_blank">More Info &raquo;</a></p>
        <p style="font-size:large">What is an onsite visit? This is a technician being dispatched to your location to assist you with any network or pc repair. Should you need a technician to come to your location. Call me! I would be glad to help. </p>
    </div>
</div>

