
<div>
    <div class="jumbotron" margin-top: 10px;>
        @{
            ViewBag.Title = "Psypher Computing - Free Information";
        }
        <h2>@ViewBag.Title</h2>
        <h3><br />Click Any Button to View Content<br /><br /><br /><br /></h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Identity Theft</h2>

            <div class='img-thumbnail gallery'>

                <div class="picture">
                    <div class="front">
                        <A HREF="~/Content/Video/AmyKrebsIdentityTheftPresentation.mp4" target="_blank">
                            <video class="" HEIGHT=250 WIDTH=340 SRC="~/Content/Video/AmyKrebsIdentityTheftPresentation.mp4" controls="controls" />
                            <video class="" HEIGHT=250 WIDTH=340 SRC="~/Content/Video/AmyKrebsIdentityTheftPresentation.ogg" controls="controls" />
                        </A>
                    </div>
                </div>
            </div>
           
            <p>
                Think you are safe from identity theft? Amy sure thought so!  Be aware, and review all privacy policies.
            </p>
            

        </div>
        <div class="col-md-4">
            <h2>Secure Your Router</h2>
            <div class='img-thumbnail gallery'>

                <div class="picture">
                    <div class="front">
                        <A HREF="~/Content/Video/How to Secure Your Router and Why It Is Important.mp4" target="_blank">
                            <video HEIGHT=250 WIDTH=340 SRC="~/Content/Video/How to Secure Your Router and Why It Is Important.mp4" controls="controls" />
                            <video HEIGHT=250 WIDTH=340 SRC="~/Content/Video/How to Secure Your Router and Why It Is Important.ogg" controls="controls" />
                        </A>
                    </div>
                </div>
            </div>
           
            <p>This is a basic example of how to secure your router, not all are the same, but have similar settings.   </p>

        </div>
        <div class="col-md-4">
            <h2>Windows 10 Features</h2>

            <div class='img-thumbnail gallery'>

                <div class="picture">
                    <div class="front">
                        <A HREF="~/Content/Video/Windows 10 Video New.mp4" target="_blank">
                            <video HEIGHT=250 WIDTH=340 SRC="~/Content/Video/Windows 10 Video New.mp4" controls="controls" />
                            <video HEIGHT=250 WIDTH=340 SRC="~/Content/Video/Windows 10 Video New.ogg" controls="controls" />
                        </A>
                    </div>
                </div>
            </div>
            
            <p>Watch this video to learn about features in Windows 10. </p>

        </div>
    </div>
    
    <div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <h2>How Hackers Hack</h2>
                <div class='img-thumbnail gallery'>

                    <div class="picture">
                        <div class="front">
                            <A HREF="~/Content/Video/KaliPresentation.mp4" target="_blank">
                                <video HEIGHT=250 WIDTH=340 SRC="~/Content/Video/KaliPresentation.mp4" controls="controls" />
                                <video HEIGHT=250 WIDTH=340 SRC="~/Content/Video/KaliPresentation.ogg" controls="controls" />
                            </A>
                        </div>
                    </div>
                </div>
               
                <p>
                    This video is one example of how a hacker can hack you, and you would never know about it! Security is a MUST HAVE for business AND home.
                </p>


            </div>
            <div class="col-md-4">
                <h2>Phone Scams</h2>
                <div class='img-thumbnail gallery'>

                    <div class="picture">
                        <div class="front">
                            <A href="https://www.google.com/search?q=phone+scams&source=lnms&tbm=vid&sa=X&ved=0ahUKEwj1uZXc5KTWAhUM9IMKHXWwDlwQ_AUICygC&biw=986&bih=614&dpr=1.25" target="_blank">
                                <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/PhoneScam.jpg"/>
                            </A>
                        </div>
                    </div>
                </div>
                <p><a class="btn btn-default" href="https://www.google.com/search?q=phone+scams&source=lnms&tbm=vid&sa=X&ved=0ahUKEwj1uZXc5KTWAhUM9IMKHXWwDlwQ_AUICygC&biw=986&bih=614&dpr=1.25" target="_blank">Learn More &raquo;</a></p>
                <p>
                    Think you are safe from Scams? How about phone scams? Think twice!  You, Me, Everyone gets at least one of these types of calls on a regular basis.
                </p>

            </div>
            <div class="col-md-4">
                <h2>Email Scams</h2>
                <div class='img-thumbnail gallery'>

                    <div class="picture">
                        <div class="front">
                            <A href="https://www.google.com/search?biw=986&bih=614&tbm=vid&q=email+phishing+scam&oq=Email+Phishing&gs_l=psy-ab.1.0.0l4.268084.271690.0.275519.14.14.0.0.0.0.182.1349.12j2.14.0....0...1.1.64.psy-ab..0.14.1341.ohG9zRQ36Pk" target="_blank">
                                <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/EmailScam.jpg"/>
                            </A>
                        </div>
                    </div>
                </div>
                <p><a class="btn btn-default" href="https://www.google.com/search?biw=986&bih=614&tbm=vid&q=email+phishing+scam&oq=Email+Phishing&gs_l=psy-ab.1.0.0l4.268084.271690.0.275519.14.14.0.0.0.0.182.1349.12j2.14.0....0...1.1.64.psy-ab..0.14.1341.ohG9zRQ36Pk" target="_blank">Learn More &raquo;</a></p>
                <p>Can you spot an email scam? Are you sure? There are more types of email scams than you realize.  Tip: If you aren't expecting it or don't recognize the sender, DON'T OPEN IT. </p>

            </div>

        </div>
        <div>

            <hr />

        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Types of Scams</h2>
                <div class='img-thumbnail gallery'>

                    <div class="picture">
                        <div class="front">
                            <A href="https://www.google.com/search?biw=986&bih=614&tbm=vid&q=types+of+scams&oq=types+of+scams&gs_l=psy-ab.3..0l4.182134.184462.0.184644.14.14.0.0.0.0.186.1416.11j3.14.0....0...1.1.64.psy-ab..0.14.1408.vTx392JBrzg" target="_blank">
                                <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/TypesofScams.jpg"/>
                            </A>
                        </div>
                    </div>
                </div>
                <p><a class="btn btn-default" href="https://www.google.com/search?biw=986&bih=614&tbm=vid&q=types+of+scams&oq=types+of+scams&gs_l=psy-ab.3..0l4.182134.184462.0.184644.14.14.0.0.0.0.186.1416.11j3.14.0....0...1.1.64.psy-ab..0.14.1408.vTx392JBrzg" target="_blank">Learn More &raquo;</a></p>
                <p>There are 8 known Types of scams, and possibly more! Click here to learn more about scams. </p>

            </div>
            <div class="col-md-4">
                <h2>Free Software</h2>
                <div class='img-thumbnail gallery'>

                    <div class="picture">
                        <div class="front">
                            <A href="https://ninite.com" target="_blank">
                                <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/free.jpg"/>
                            </A>
                        </div>
                    </div>
                </div>
                <p><a class="btn btn-default" href="https://ninite.com" target="_blank">Free Software &raquo;</a></p>
                <p>There is a place where you can download all kinds of helpful tools and applications that are up-to-date and safe.</p>

            </div>
            <div class="col-md-4">
                <h2>PC Security</h2>
                <div class='img-thumbnail gallery'>

                    <div class="picture">
                        <div class="front">
                            <A href="https://malwarebytes.com" target="_blank">
                                <IMG HEIGHT=150 WIDTH=150 SRC="~/Content/Images/untitled.png"/>
                            </A>
                        </div>
                    </div>
                </div>
                <p><a class="btn btn-default" href="https://malwarebytes.com" target="_blank">Learn more &raquo;</a></p>
                <p>There are many kinds of antivirus and antimalware programs out there, some expensive, some cheap, some free, some good and some bad. This is what I use and recommend to MY customers in addition to Windows Defender.</p>

            </div>
        </div>

    </div>
</div>
